.newsHome {
  .description {
    text-align: center;
    margin-bottom: 2rem;
  }

  .slider {
    position: relative;

    :global {
      .slick-arrow {
        width: 2rem;
        height: 100%;
        position: absolute;
        right: 1rem;
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
    }
    .cardItem {
      padding: 0 2rem 2rem 2rem;
      .image {
        height: 150px;

        & > span {
          width: 100% !important;
          height: 100% !important;
        }
      }

      .content {
        margin: 0.5rem 0;
        .title {
          color: #140d00;
          font-size: 1.15rem;
          font-weight: 700;
        }

        .detail {
          font-size: 0.9rem;
        }
      }
    }
  }
}
